.root {
  height: 100%;

  :global {
    .content {
      position: relative;
      z-index: 1;
      height: 100%;
    }

    .wrapper {
      background-color: #f7f8fa;
    }

    .profile-list {
      font-size: 14px;

      .adm-list-item {
        padding-left: 17px;
      }

      .adm-list-item-content-extra {
        padding-right: 13px;
        color: #3a3948;

        .avatar-wrapper {
          display: inline-block;
          border-radius: 50%;
          overflow: hidden;
          vertical-align: middle;

          img {
            display: block;
            object-fit: cover;
          }
        }

        .intro {
          color: #c8c9cc;

          &.normal {
            color: #3a3948;
          }
        }
      }

      .adm-list-item-content-arrow {
        padding-left: 0;
      }

      &:nth-child(2) {
        margin-top: 12px;
      }
    }

    .logout {
      position: absolute;
      bottom: 60px;
      width: 100%;
      height: 44px;
      padding: 0 16px;

      .btn {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        color: #fff;
        font-size: 16px;
        background: linear-gradient(315deg, #fe4f4f, #fc6627);
      }
    }
  }
}

// popup 不在当前组件结构中，因此，只能设置全局样式
:global {
  .adm-picker-popup-body {
    .adm-picker-popup-header {
      background-size: 0;
      &::after {
        display: none !important;
      }
    }
  }
  .adm-picker-header {
    .adm-picker-header-button {
      font-size: 14px;
      color: #969799;
    }
    .adm-picker-header-button:nth-last-child(1) {
      color: #fc6627;
    }
  }
}
